html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Calibri', 'Arial',sans-serif;
    margin: 0;
}

header {
    background-color: #4aaf60;
    color: #fff;
    padding: 10px;
    padding-left: calc(4vh + 20px);
    font-size: 4vh;
}

nav {
    background-color: #4aaf60;
    color: #fff;
    font-size: large;
    position: fixed;
    right: 100vw;
    top: 0;
    bottom: 0;
    z-index: 5;
    width: 20ch;
    max-width: 100%;
    padding: max(40px, 5vw);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
nav.open {
    left: 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    border-left: 1px dashed;
    padding-left: 5px;
}
nav a:hover {
    background-color: #fff2;
}

.navCat {
    font-size: 2rem;
    text-transform: uppercase;
}

#navBtn {
    background-color: #4aaf60;
    color: #fff;
    height: calc(4vh + 10px);
    width: calc(4vh + 10px);
    border-radius: 100%;
    border: 0px solid #0005;
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#navBtn:hover {
    border-width: 2px;
}

section {
    margin: 20px;
}

a {
    text-decoration-color: #0000ee3d;
}
a:hover {
    text-decoration-color: #0000ee;
}

.note {
    margin: 30px;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    font-size: large;
}

h1 {
    text-decoration: underline 2px #fcaf17;
}

h3 {
    display: inline-block;
}

abbr {
    cursor: help;
}

section div details {
    margin: 20px 0;
}

.fullscreenBtn {
    height: 2rem;
    width: 2rem;
    border: 0px solid #0005;
    border-radius: 100%;
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fullscreenBtn:hover {
    border-width: 2px;
}

.hErreur {
    color: firebrick;
}
.hResolu {
    color: forestgreen;
}
.contDefErreur, .contResolution {
    padding-left: 10px;
}
.contDefErreur {
    border-left: 5px solid firebrick;
    position: relative;
}
.contResolution {
    border-left: 5px solid forestgreen;
}

.gotoResol {
    font-size: small;
}

.typeErreur {
    display: inline-block;
}

.imgWithCredit {
    position: relative;
    display: inline-block;
}
.imgWithCredit span {
    position: absolute;
    right: 0;
    top: 0;
    backdrop-filter: blur(2px);
}

img {
    max-width: 100%;
    max-height: 200px;
    border: 2px solid gray;
    cursor: zoom-in;
    transition: max-height 0.5s ;
}
img:focus {
    max-height: 100vh;
    cursor: default;
    transition: max-height 1s ;
}

details {
    background-color: #0001;
    padding: 10px;
    padding-left: 20px;
}

summary {
    cursor: pointer;
}

.fullscreen {
    background-color: #eee;
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    overflow: auto;
}

code {
    padding: 2px;
}

kbd {
    background-color: #DDD;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #CCC;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #AAA;
}
