:root {
    --PRIMARY-green: #4aaf60;
    --PRIMARY-dark: #285f34;
    --PRIMARY-light: #96caa1;
    --SECONDARY-green: #67af4a;
}

[data-theme="auto"] {
	color-scheme: light dark;
}
[data-theme="dark"] {
	color-scheme: dark;
}
[data-theme="light"] {
	color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    [data-theme="auto"]:root {
        color-scheme: dark;
    }

    [data-theme="auto"] .icon {
        filter: invert(1);
    }
    [data-theme="auto"] a:hover {
        color: var(--PRIMARY-light) !important;
    }
    [data-theme="auto"] details {
        background-color: #fff1 !important;
    }
    [data-theme="auto"] details.fullscreen {
        background-color: #222 !important;
    }
    [data-theme="auto"] a.etiquette {
        color: #222;
    }
    [data-theme="auto"] a.etiquette:hover {
        background-color: var(--PRIMARY-light);
        color: var(--PRIMARY-dark);
    }
}
[data-theme="dark"]:root {
    color-scheme: dark;
}

[data-theme="dark"] .icon {
    filter: invert(1);
}
[data-theme="dark"] a:hover {
    color: var(--PRIMARY-light);
}
[data-theme="dark"] details {
    background-color: #fff1 !important;
}
[data-theme="dark"] details.fullscreen {
    background-color: #222 !important;
}
[data-theme="dark"] a.etiquette {
    color: #222;
}
[data-theme="dark"] a.etiquette:hover {
    background-color: var(--PRIMARY-light);
    color: var(--PRIMARY-dark);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Calibri', 'Arial',sans-serif;
    margin: 0;
    cursor: default;
}

header {
    background-color: var(--PRIMARY-green);
    color: #fff;
    padding: 10px;
    font-size: 4vh;
    display: flex;
    gap: 1ch;
}

#navOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 5;
    overflow: hidden;
    display: none;
}
#navOverlay.open {
    left: 0;
    right: 0;
    display: block;
}

nav {
    background-color: var(--SECONDARY-green);
    color: #fff;
    font-size: large;
    box-shadow: 0 0 100px #000;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    width: 20ch;
    max-width: 100%;
    padding: max(40px, 5vw);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    border-left: 1px dashed;
    padding-left: 5px;
}
nav a:hover {
    background-color: #fff2;
}

.navCat {
    font-size: 2rem;
    text-transform: uppercase;
}

#navBtn {
    background-color: var(--SECONDARY-green);
    color: #fff;
    height: calc(4vh + 10px);
    width: calc(4vh + 10px);
    border-radius: 100%;
    border: 0px solid #0005;
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#navBtn:hover {
    border-width: 2px;
}

section {
    margin: auto;
    width: min(95%, 65em);
}

a {
    color: var(--PRIMARY-green);
}
a:hover {
    color: var(--PRIMARY-dark);
}

#notesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 30px;
}
@media screen and (max-device-width: 600px) {
    #notesContainer {grid-template-columns: 1fr;}
}

.note {
    padding: 10px;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.note.important {
    background-color: #fbfb3140;
}
.note.info {
    background-color: #41ffff40;
}
.note p {
    margin-block: 0.5rem;
}

h3 {
    display: inline-block;
}

abbr {
    cursor: help;
}

section div details {
    margin: 20px 0;
}

.fullscreenBtn {
    height: 2rem;
    width: 2rem;
    border: 0px solid #0005;
    border-radius: 100%;
    position: absolute;
    top: max(1vw, 5px);
    right: max(1vw, 5px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fullscreenBtn:hover {
    border-width: 2px;
}

.hErreur {
    color: firebrick;
}
.hResolu {
    color: forestgreen;
}
.contDefErreur, .contResolution {
    padding-left: 10px;
}
.contDefErreur {
    border-left: 5px solid firebrick;
    position: relative;
}
.contResolution {
    border-left: 5px solid forestgreen;
    background-color: #228b2222;
    padding-block: 1em;
}

.stepEmoji {
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
}

.gotoResol {
    font-size: small;
}

.typeErreur {
    display: inline-block;
}

.imgWithCredit {
    position: relative;
    display: inline-block;
}
.credit {
    position: absolute;
    right: 0;
    top: 0;
    backdrop-filter: blur(2px);
    font-size: small;
}

.imgError {
    max-width: 100%;
    max-height: 200px;
    border: 2px solid var(--PRIMARY-green);
    cursor: zoom-in;
    transition: max-height 0.5s ;
}
.imgError:focus,
.current img {
    max-height: 100vh;
    cursor: default;
    transition: max-height 1s ;
}

.detailsInnerContainer {
    padding: 1em;
    background-color: #0001;
    max-width: 150ch;
    margin: auto;
}

summary {
    cursor: pointer;
}

.fullscreen {
    background-color: #eee;
    margin: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    overflow: auto;
}

.fullscreen .fullscreenBtn {
    position: fixed;
}

code {
    padding: 2px;
    box-shadow: inset 0 0 7px #0008;
}

kbd {
    background-color: #DDD6;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #CCC;
}

a.etiquette {
    background-color: var(--PRIMARY-green);
    color: #fff;
    padding-inline: 4px;
    text-decoration: none;
    border: 1px solid #888;
    padding-block: 2px;
    display: inline-block;
    margin: 1px;
}
a.etiquette:hover {
    background-color: var(--PRIMARY-dark);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #AAA;
}

#certified {
    height: 2rem;
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--PRIMARY-green);
    background: #fffB;
}


#linkHome {
    color: #fff;
    background-color: var(--PRIMARY-dark);
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
    text-align: center;
    transition: 500ms;
}
#linkHome:hover,
#linkHome:focus {
    background-color: var(--PRIMARY-light);
}

.steps > li {
    font-size: 1.3em;
    margin-bottom: 1em;
    display: none;
}
.steps > li::before {
    content: attr(data-step-nb) " ";
    background-color: var(--PRIMARY-green);
    color: #FFF;
    display: inline-flex;
    justify-content: center;
    width: 2em;
    margin-right: 1ch;
    border-radius: 200px;
    font-size: 200%;
}
.steps > li.current {
    animation: fadeIn 250ms both 250ms;
    display: block;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
}
.steps > li.currentOld {
    animation: fadeOut 250ms both;
}
@keyframes fadeOut {
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}
.stepExplanation {
    margin-bottom: 1em;
}
.stepNote {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1ch;
    padding: 10px;
    margin-block: 20px;
    background-color: #FF02;
    border: solid #FF04 1px;
    border-radius: 10px;
    font-style: italic;
    font-size: 80%;
}

.stepsNavCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.stepsNavCont > button {
    font-size: 2em;
    background-color: var(--PRIMARY-green);
    color: #fff;
    border: solid #0003 3px;
    cursor: pointer;
    text-align: left;
    transition: 250ms;
}
.stepsNavCont > button:hover:not(:disabled) {
    background-color: var(--PRIMARY-dark);
}
.stepsNavCont > button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
#btnPrevStep {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
#btnNextStep {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.steps > li .stepImgCont {
    position: relative;
    width: fit-content;
}
.steps > li .stepImgCont::before {
    content: "";
    background-color: var(--PRIMARY-green);
    opacity: 0.8;
    display: block;
    height: 1em;
    width: 1em;
    border-radius: 2em;
    position: absolute;
    z-index: 2;
}
.steps > li[data-step-nb="1"] .stepImgCont::before {
    animation: stepOneIndicator 4s infinite;
}
@keyframes stepOneIndicator {
    10%, 30%, 70%, 90% {
        border: solid 3px transparent;
    }
    20%, 80% {
        border: solid 3px var(--PRIMARY-dark);
    }
    0% {
        opacity: 0;
        right: 10%;
        top: 5%;
    }
    10%, 30% {
        opacity: 1;
        right: 10%;
        top: 5%;
    }
    70%, 90% {
        opacity: 1;
        right: 90%;
        top: 90%;
    }
    100% {
        opacity: 0;
        right: 90%;
        top: 90%;
    }
}
.steps > li[data-step-nb="2"] .stepImgCont::before {
    animation: stepTwoIndicator 4s infinite;
}
@keyframes stepTwoIndicator {
    10%, 30%, 70%, 90% {
        border: solid 3px transparent;
    }
    20%, 80% {
        border: solid 3px var(--PRIMARY-dark);
    }
    0% {
        opacity: 0;
        right: 70%;
        top: 8%;
    }
    10%, 30% {
        opacity: 1;
        right: 70%;
        top: 8%;
    }
    70%, 90% {
        opacity: 1;
        right: 10%;
        top: 42%;
    }
    100% {
        opacity: 0;
        right: 10%;
        top: 42%;
    }
}
.steps > li[data-step-nb="3"] .stepImgCont::before {
    animation: stepThreeIndicator 4s infinite;
}
@keyframes stepThreeIndicator {
    10%, 20%, 45%, 55%, 80%, 90% {
        border: solid 3px transparent;
    }
    15%, 50%, 85% {
        border: solid 3px var(--PRIMARY-dark);
    }
    0% {
        opacity: 0;
        right: 70%;
        top: 35%;
    }
    10%, 20% {
        opacity: 1;
        right: 70%;
        top: 35%;
    }
    45%, 55% {
        opacity: 1;
        right: 30%;
        top: 65%;
    }
    80%, 90% {
        opacity: 1;
        right: 10%;
        top: 92%;
    }
    100% {
        opacity: 0;
        right: 10%;
        top: 90%;
    }
}